.multi-column-editor-label {
    clear: left;
}

.multi-column-editor-wrapper {
    .multi-column-editor {
        .add {
            margin: 10px 0;
        }

        .mce-row {
            clear: left;

            .form-group {
                display: block;
                float: left;
                margin-right: 10px;
                position: relative;
                margin-bottom: 10px;

                .tl_checkbox_single_container {
                    margin-top: 34px;
                }

                input[type="text"], input[type="password"] {
                    padding: 3px;
                }

                > h3 > label, > .tl_help {
                    display: none;
                }

                > h3 {
                    padding-top: 0;
                }
            }

            &.row_1 {
                .form-group {
                    > h3 > label, > .tl_help {
                        display: block;
                    }

                    > h3 {
                        padding-top: 14px;
                    }
                }

                .actions {
                    margin-top: 32px;
                }
            }

            .actions {
                display: block;
                float: left;
                margin-top: 5px;
            }
        }
    }

    & + .tl_tip {
        clear: left;
    }
}